extends layout

block content
 h1=  title
 
 - var result =results
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) car Name: #{item["car_name"]}  <br>  car_type: #{item["car_type"]} <br> car_price: #{item["car_price"]} 
 script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }